{% extends "LetsFrameBiduleBundle:Bidule:form.html.twig" %}


{% block action %}
<form action="{{ path('bidule_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
{% endblock %}

{% block legend %}
{{ entity.title }}
{% endblock %}

{% block button %}Enregistrer les modifications{% endblock %}

{% block images %}

<div class="page-header">
<h2>Galerie d'images</h2>
</div>

<form action="{{ path('bidule_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_image_form) }} class="form-horizontal">
{{ form_errors(edit_image_form) }}
<div class="control-group">
{{ form_label(edit_image_form.image) }}
{{ form_errors(edit_image_form.image) }}
<div class="controls">
{{ form_widget(edit_image_form.image) }}
</div>
</div>

{{ form_rest(edit_image_form) }}
<div class="form-actions">
<button type="submit" class="btn btn-primary">Ajouter l'image</button>
</div>

{% for image in entity.gallery.images %}
<img src="{{ image.getWebPath  | apply_filter('thumbnail90x90') }}" width="90"/>
<a href="{{ path('image_delete', { 'id':image.id}) }}" class="confirmimg">
<img src="{{ asset('bundles/letsframemain/images/icons/cancel.png')}}" alt="Supprimer cette image">
</a>
{% endfor %}

</form>
{% endblock images %}


  {% block delete %}
  <div class="row">
    <div class="span">
      <form action="{{ path('bidule_delete', { 'id': entity.id }) }}" method="post" class="well">
        {{ form_widget(delete_form) }}
      <button type="submit" class="btn btn-danger confirm">Supprimer ce Bidule</button>
      </form>
    </div>
  </div>
  {% endblock %}
