{% extends "LetsFrameAdminBundle::layout.html.twig" %}

{# le block active_menu indique au menu quelle est la page courante #}
{% block active_menu %}bidules{% endblock %}

{% block content %}

<div class="page-header">
<h2>{% block legend %}{% endblock %}</h2>
</div>

  {% block action %}
  {# emplacement du tag <form ...> #}
  {% endblock %}

    {{ form_errors(form) }}

    <div class="control-group">
    {{ form_label(form.title, 'Bidule', { 'attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.title) }}
      <div class="controls">
      {{ form_widget(form.title, { 'attr': {'placeholder': 'Saisir le titre du bidule...'}} ) }}
      </div>
    </div>

   <div class="control-group">
    {{ form_label(form.text, 'Contenu', { 'attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.text) }}
      <div class="controls">
      {{ form_widget(form.text, { 'attr': {'class': 'editor'} } ) }}
      </div>
    </div>

    {{ form_rest(form) }}

    <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% block button %}{% endblock %}</button>
    <a href="{{ path('bidules') }}" class="btn">
    Retour à la liste des Bidules
    </a>
    </div>
</form>

{% block images %}
{% endblock %}

{% block delete %}
{% endblock %}

{% endblock %}
