{% extends "LetsFrameAdminBundle::layout.html.twig" %}

{% block content %}

  {% block action %}
  {% endblock %}

<div class="page-header">
<h2>{% block legend %}{% endblock %}</h2>
</div>

    {{ form_errors(form) }}
<fieldset>

    <div class="clearfix">
    {{ form_label(form.title, 'Bidule') }}
    <div class="input">
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.text, 'Contenu') }}
    <div class="input">
    {{ form_errors(form.text) }}
    {{ form_widget(form.text, { 'attr': {'class': 'editor'} } ) }}
    </div>
    </div>

    {{ form_rest(form) }}
</fieldset>
        <button type="submit" class="btn primary">{% block button %}{% endblock %}</button>
        <a href="{{ path('bidules') }}" class="btn">
        Retour à la liste des Bidules
        </a>
</form>

{% block images %}
{% endblock %}

{% block delete %}
{% endblock %}

{% endblock %}
