    {{ form_errors(edit_image_form) }}

    {{ form_label(edit_image_form.image, 'Image') }}

    {{ form_errors(edit_image_form.image) }}
    {{ form_widget(edit_image_form.image) }}

    {{ form_rest(edit_image_form) }}
        <button type="submit" class="btn-primary">Ajouter une image</button>
